.right-box__message__box__detail{data:{id: message.id}}
  .right-box__message__box__detail--name
    = message.user.name
  .right-box__message__box__detail--date
    = message_date(message)
  - if message.body
    .right-box__message__box__detail--content
      = message.body
  - if message.image.url
    .right-box__message__box__detail--image
      = image_tag message.image
