.right-box__message__box__detail
  .right-box__message__box__detail--name
    = message.user.name
  .right-box__message__box__detail--date
    = message_date(message)
  .right-box__message__box__detail--content
    = message.body
