.wrapper
  .box
    .left-box
      .left-box__user-name
        kanamaru-sho
        %a{href: :"#"}
          %i.fa.fa-cog.left-box__user-name--setting
        %a{href: :"#"}
          %i.fa.fa-pencil-square-o.left-box__user-name--edit
      .left-box__talk
        .left-box__talk--group
          sample
        .left-box__talk--message
          Good bye World
    .right-box
      .right-box__group
        .right-box__group--name
          sample
        .right-box__group--edit
          =link_to "Edit", "#"
        .right-box__group--member
          Members:kanamaru-sho
      .right-box__message
        .right-box__message--name
          kanamaru-sho
        .right-box__message--date
          2017/04/03
        .right-box__message--content
          Hello World!
      .right-box__send
        %textarea{name: :"type", class: :"right-box__send__input", placeholder: :"type a message"}
        %a{href: :"#"}
          %i.fa.fa-image.right-box__send--image
        %input{type: :"submit", value: :"Send", class: :"right-box__send__button"}
