.wrapper
  .box
    = render partial: "common/leftbox"
    .right-box
      .right-box__group
        .right-box__group--name
          sample
        .right-box__group--edit
          =link_to "Edit", edit_group_path(1)
        .right-box__group--member
          Members:kanamaru-sho
      .right-box__message
        .right-box__message__box
          .right-box__message__box__detail
            .right-box__message__box__detail--name
              kanamaru-sho
            .right-box__message__box__detail--date
              2017/04/01
            .right-box__message__box__detail--content
              Hello World
          .right-box__message__box__detail
            .right-box__message__box__detail--name
              kanamaru-sho
            .right-box__message__box__detail--date
              2017/04/03
            .right-box__message__box__detail--content
              Good bye World
      .right-box__send
        %textarea{name: :"type", class: :"right-box__send__input", placeholder: :"type a message"}
        %a{href: :"#"}
          %i.fa.fa-image.right-box__send--image
        %input{type: :"submit", value: :"Send", class: :"right-box__send__button"}
