.wrapper{
  min-width: 100vw;
}

.box{
  width: 100vw;
  height: 100vh;
}

.left-box{
  height: 100vh;
  width: 300px;
  float: left;
  &__user-name{
    height: 96px;
    line-height: 100px;
    background-color: $dark_navy;
    color: $white;
    font-size: 16px;
    padding: 0 20px;
    vertical-align: middle;
    &--setting{
      float: right;
      margin-top: 42px;
      margin-right: 10px;
      color: $white;
    }
    &--edit{
      float: right;
      margin-top: 42px;
      margin-right: 15px;
      color: $white;
    }
  }
  &__talk{
    height: calc(100vh - 100px - 90px);
    background-color: $navy;
    a{
      text-decoration: none;
      }
    &__detail{
      padding: 15px 20px;
      &--group{
        color: $white;
        font-size: 15px;
        display: inline-block;
      }
      &--message{
        color: $white;
        font-size: 11px;
      }
      &--unread_count{
        width: 25px;
        height: 25px;
        margin-left: 5px;
        display: inline-block;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        -o-border-radius: 50%;
        -ms-border-radius: 50%;
        font-size: 20px;
        color: #fff;
        background-color: #FF367F;
        text-align: center;
        p{
          font-size: 15px;
          position: relative;
          top:50%;
          transform: translateY(-50%);
          margin-left: -2px;
        }
      }
    }
  }
  &__footer{
    height: 90px;
    background-color: $navy;
  }
}
.right-box{
  width: calc(100vw - 300px);
  height: 100vh;
  float: left;
  &__group{
    border-style: solid;
    border-color: $light_gray;
    height: 92px;
    &--name{
      font-size: 20px;
      color: $black;
      float: left;
      padding: 35px 0 15px 40px;
    }
    &--edit{
      height: 40px;
      width: 60px;
      text-align: center;
      float: right;
      margin: 28px 40px 0 0;
      font-size: 15px;
      background-color: $white;
      border: 2px solid $light_blue;
      line-height: 45px;
      cursor: pointer;
      a{
        text-decoration: none;
        color: $light_blue;
      }
    }
    &--member{
      font-size: 12px;
      color: $gray;
      padding: 0 0 0 40px;
      clear: both;
    }
  }
  &__message{
    overflow: scroll;
    height: calc(100vh - 100px - 90px);
    padding-left: 40px;
    &__box{
      padding-top: 26px;
      &__detail-current_user{
        padding: 20px 0;
        width: 320px;
        margin-left: auto;
      }
      &__detail-other_user{
        padding: 20px 0;
      }
      &__detail{
        &--name{
          font-size: 16px;
          font-weight: bold;
          color: $light_black;
          float: left;
          }
        &--date{
          font-size: 12px;
          color: $gray;
          float: left;
          padding-left: 10px;
          }
        &--content{
          font-size: 15px;
          color: $light_black;
          margin-top: 35px;
          clear: both;
          }
        &--image{
          margin-top: 35px;
          clear: both;
          }
        &--reading{
          font-size: 12px;
          color: #999;
          padding-left: 50px;
          display: inline-block;
          position: relative;
        }
        p{
          display: none;
          position: absolute;
          padding: 5px;
          -webkit-border-radius: 8px;
          -moz-border-radius: 8px;
          border-radius: 8px;
          background: #333;
          color: #fff;
          margin-left: 42px;
          margin-top: 5px;
          font-size: 10px;
        }
        p:after{
          position: absolute;
          bottom: 100%;
          left: 50%;
          width: 0;
          height: 0;
          margin-left: -10px;
          border: solid transparent;
          border-color: rgba(51, 51, 51, 0);
          border-bottom-color: #333;
          border-width: 5px;
          pointer-events: none;
          content: " ";
        }
        }
      }
    }

  &__send{
    height: 88px;
    width: calc(100vw - 300px);
    background-color: $light_gray;
    position: relative;
    &__input{
      margin: 20px 0 20px 40px;
      height: 50px;
      width: calc(100% - 200px);
      float: left;
      padding-left: 10px;
      font-size: 16px;
      color: $light_black;
      line-height: 50px;
      }
    &--image{
      color: $light_black;
      position: absolute;
      bottom: 37px;
      right: 160px;
      input{
        display: none;
      }
      i{
        position: relative;
        top: 8px;
      }
            }
    &__button{
      margin: 20px 40px 20px 15px;
      background-color: $light_blue;
      color: $white;
      height: 50px;
      width: 90px;
      float: right;
      }
   }
}
