.wrapper{
  min-width: 100vw;
}

.box{
  width: 100vw;
  height: 100vh;
}

.left-box{
  height: 100vh;
  width: 300px;
  float: left;
  &__user-name{
    height: 96px;
    line-height: 100px;
    background-color: $dark_navy;
    color: $white;
    font-size: 16px;
    padding: 0 20px;
    vertical-align: middle;
    &--setting{
      float: right;
      margin-top: 42px;
      margin-right: 10px;
      color: $white;
    }
    &--edit{
      float: right;
      margin-top: 42px;
      margin-right: 15px;
      color: $white;
    }
  }
  &__talk
  {
    height: calc(100vh - 96px);
    background-color: $navy;
    a{
      text-decoration: none;
      }
    &__detail{
      padding: 20px;
      &--group{
        color: $white;
        font-size: 15px;
      }
      &--message{
        color: $white;
        font-size: 11px;
      }
    }
  }
}
.right-box{
  width: calc(100vw - 300px);
  height: 100vh;
  float: left;
  &__group{
    border-style: solid;
    border-color: $light_gray;
    height: 96px;
    &--name{
      font-size: 20px;
      color: $black;
      float: left;
      padding: 35px 0 15px 40px;
    }
    &--edit{
      height: 40px;
      width: 60px;
      text-align: center;
      float: right;
      margin: 28px 40px 0 0;
      font-size: 15px;
      background-color: $white;
      border: 2px solid $light_blue;
      line-height: 45px;
      cursor: pointer;
      a{
        text-decoration: none;
        color: $light_blue;
      }
    }
    &--member{
      font-size: 12px;
      color: $gray;
      padding: 0 0 0 40px;
      clear: both;
    }
  }
  &__message{
    overflow: scroll;
    height: 425px;
    padding-left: 40px;
    &__box{
      padding-top: 26px;
      &__detail{
        padding: 20px 0;
        &--name{
          font-size: 16px;
          font-weight: bold;
          color: $light_black;
          float: left;
          }
        &--date{
          font-size: 12px;
          color: $gray;
          float: left;
          padding-left: 10px;
          }
        &--content{
          font-size: 15px;
          color: $light_black;
          margin-top: 35px;
          clear: both;
          }
        }
      }
    }

  &__send{
    height: 90px;
    width: calc(100vw - 300px);
    background-color: $light_gray;
    position: relative;
    &__input{
      margin: 20px 0 20px 40px;
      height: 50px;
      width: calc(100% - 200px);
      float: left;
      padding-left: 10px;
      font-size: 16px;
      color: $light_black;
      line-height: 50px;
      }
    &--image{
      color: $light_black;
      position: absolute;
      bottom: 37px;
      right: 160px;
            }
    &__button{
      margin: 20px 40px 20px 15px;
      background-color: $light_blue;
      color: $white;
      height: 50px;
      width: 90px;
      float: right;
      }
   }
}
