.left-box
  .left-box__user-name
    = current_user.name
    =link_to edit_user_registration_path do
      %i.fa.fa-cog.left-box__user-name--setting
    =link_to new_group_path do
      %i.fa.fa-pencil-square-o.left-box__user-name--edit
  .left-box__talk
    - @groups.each do |group|
      = link_to group_messages_path(group) do
        .left-box__talk__detail
          .left-box__talk__detail--group
            = group.name
          .left-box__talk__detail--message
            = group.latest_message
  .left-box__footer
